<phpunit bootstrap="phpunit_bootstrap.php"
                verbose="true"
                colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="true"
                stopOnError="true"
                >
    <testsuites>
        <testsuite name="yii2-testkit">
            <file>functional/HomeTest.php</file>
            <file>functional/AboutTest.php</file>
            <file>functional/ContactTest.php</file>
            <file>functional/LoginTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>